# Credenciales para tokens de seguridad de JWT
JWT_SECRET_KEY= <TOKEN-DE-SEGURIDAD> SE DEBE USAR EL MISMO PARA TODOS
JWT_EXPIRATION_DATE=900000 --> TIEMPO DE DURACION DE VIDA DE UN TOKEN: 15 MINUTOS

# Credenciales para la base de datos en local
DB_USER= <USER-DE-POSTGRES>
DB_PASSWORD= <PASSWORD>
DATABASE_URL=jdbc:postgresql://localhost:5432/<NOMBRE-DE-LA-BASE-DE-DATOS>
